.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}


*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

button {
  border: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  
}


/* HEADER */
.header nav {
  display: flex;
  justify-content: space-between;
  align-items: ;
  padding-top: 28px;
  margin-bottom: 113px;
}

.nav-list {
  text-transform: uppercase;
  list-style: none;
  width: 490px;
  display: flex;
  justify-content: space-between;

}

.nav-list a {
  color: #95e1d3;
}

 .nav-list li::after {
   width: 60px;
   height: 4px;
   margin-top: 42px;
}

.nav-list a:hover {}



/* MAIN */
.aux-title {
  font-family: "Kaushan Script";
  font-size: 24px;
}

h2 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}

/* SERVICE SECTION */
.services-list {
  list-style: none;
}

.icon-title {
  text-transform: uppercase;
}

.icon-text {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.6;
}

/* TEAM SECTION */
.table_of_contents {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.6;
}

.team-list {
  list-style: none;
}

.name {
  text-transform: uppercase;
}

.position {
  color: #999999;
  font-style: italic;
  line-height: 1.6;
}

/* FOOTER */
.Laaqiq {
  color: #f38181;
}

.button {
  background-color: #95e1d3;
  border-style: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  width: 150px;
  height: 40px;
}
