.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

button {
  border: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

/* HEADER */
.header-nav {
  padding: 38px 0 32px;
}

.header-nav .header-logo {
  display: inline-block;
}

.header-nav-list {
  text-transform: uppercase;
  line-height: 17px;
  font-weight: 700;
  letter-spacing: -0.28px;
  margin: 3px 0 0;
  float: right;
}

.header-nav-list__item {
  float: left;
}

.header-nav-list__item:not(:last-child) {
  margin-right: 36px;
}

.header-nav-list a {
  color: #0f0101;
}

.header-nav-list a:hover,
.header-nav-list a:focus {
  color: #1abc9c;
}

.shop-submenu {
  position: relative;
}

.header-nav-list__item__submenu {
  background-color: #ff7200;
  position: absolute;
  width: 100px;
  display: none;
  z-index: 100;
}

.shop-submenu:hover .header-nav-list__item__submenu {
  display: block;
}

.header-nav-list__item__submenu a {
  color: #fefefe;
  font-size: 10px;
  font-weight: 600;
  padding: 8px 16px;
}

.header-nav-list__item__submenu a:hover {
  text-shadow: 1px 1px 2px black, 3px 3px 7px #8d8b8a;
}

/* MAIN */
main {
  background-color: #e9f0fd;
}

/* CAROUSEL SECTION-SCROLLING */
.slider-section {
  position: relative;
}

.slider-section::before {
  background-color: rgba(0, 0, 2, 0.522);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
}

.slider-section__background {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.slider-section__slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

/* SCROLL_BUTTON */
.slider-section button {
  background-color: #1abc9c;
  color: #ffffff;
  width: 104px;
  height: 104px;
  font-size: 100px;
  cursor: pointer;
  z-index: 1000;
}

.slider-section button:hover,
.slider-section button:focus {
  opacity: 0.651;
}

.slider-section .pe-7s-angle-left {
  float: left;
}

.slider-section .pe-7s-angle-right {
  float: right;
}

/* SLIDER-LIST */

.slider-section__slider:hover .slider-list__second-slide {
  text-shadow: 1px 1px 2px black, 0 0 7px #8d8b8a;
}

.slider-list__second-slide {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  z-index: 90;
}

.slider-list__second-slide__title-item {
  font-size: 60px;
  font-weight: 900;
  line-height: 82px;
  letter-spacing: -1.2px;
  padding-left: 185px;
}

.slider-list__second-slide__content-item {
  font-size: 24px;
  font-weight: 300;
  line-height: 54px;
  letter-spacing: -0.48px;
  padding-left: 185px;
}

/* GALERY PRODACTS SECTION */
.prodacts {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 23px;
  letter-spacing: -0.36px;
  color: #ffffff;
  margin-bottom: 100px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.96px;
  color: #515151;
  text-transform: uppercase;
  text-align: center;
  padding: 92px 0 95px;
}

h3::after {
  display: block;
  content: "";
  background-color: #1abc9c;
  width: 160px;
  height: 8px;
  margin: 32px auto 0;
}

.prodacts-list li {
  float: left;
  width: 254px;
  margin: 0 30px 30px 0;
  position: relative;
}

.prodacts-list li:nth-child(4n) {
  margin-right: 0;
}

.prodacts-list li:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.prodacts-list__content-item__end-items:hover .prodacts-list__content-item__price-name,
.prodacts-list__content-item__end-items:focus .prodacts-list__content-item__price-name {
  background-color: rgb(26, 188, 156);
}

.prodacts-list__content-item__end-items:hover .prodacts-list__content-item__price,
.prodacts-list__content-item__end-items:focus .prodacts-list__content-item__price {
  background-color: #7fd9c7;
}

.prodacts-list img {
  width: 254px;
}

.prodacts-list__content-item__price,
.prodacts-list__content-item__price-name {
  text-transform: uppercase;
  height: 40px;
  padding: 10px 0 0 12px;
}

.prodacts-list__content-item__price-name {
  background-color: #323232;
  width: calc(100% - 54px) ;
  float: left;
  bottom: 0;
}

.prodacts-list__content-item__price {
  background-color: #8c8c8c;
  width: 54px;
  float: right;
  bottom: 0;
}

.prodacts-list__content-item__price::after {
  content: "\0024";
}

.prodacts-list a {
  color: #ffffff;
}


/* MUST-FIX  */
/* OVERLAY */
.overlay {
  background-clip: padding-box;
  border: 10px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.549);
  font-size: 0;
  width: 254px;
  height: 100%;
  opacity: 0;
  height: calc(100% - 40px);
  position: absolute;
  top: 0;
} 

.overlay__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay__content__icon  {
  font-size: 30px;
  font-weight: 400;
}

.overlay button {
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0);
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  cursor: pointer;
  color: #fff;
}

.overlay button:nth-child(-n + 2) {
  margin-right: 8px;
}

.overlay button:not(:last-child) {
  margin-bottom: 8px;
}

.overlay button:last-child {
  text-transform: uppercase;
  background-color: rgb(50, 50, 50);
  color: #ffffff;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: -0.28px;
  width: 166px;
}

.overlay .Add-to-cart {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: -0.28px;
}

.prodacts-list li:hover .overlay,
.prodacts-list li:focus .overlay {
  opacity: 1;
}

.overlay button:hover {
  background-color: rgb(26, 188, 156);
}

/* .overlay-content .like {
  background-image: url(https://picua.org/images/2019/10/30/0d11f6f2530ed17bceffcd37b106116f.png);
}

.overlay-content .mix {
  background-image: url(https://picua.org/images/2019/10/30/20e2c2bb30d06c4672257dbf3fcd2019.png);
}

.overlay-content .time {
  background-image: url(https://picua.org/images/2019/10/30/25d05cfc03e135f02d2500570781d487.png);
}

.overlay-content .buy {
  background-image: url(https://picua.org/images/2019/10/30/86c54f48cbe55cf373e16252511a076b.png);
} */

/* FUTTER */
.footer {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.32px;
  background-color: #323232;
  color: #fefefe;
  text-align: center;
  width: auto;
  height: 88px;
  padding-top: 32px;
}

.footer p {
  display: inline-block;
}

.footer a {
  display: inline-block;
  color: #46bfa9;
}