.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}

p {
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}



/* HEADER */
.header-nav {
  padding: 38px 0 32px;
}

.header-nav .header-logo {
  display: inline-block;
}

.header-nav-list {
  text-transform: uppercase;
  list-style: none;
  line-height: 17px;
  font-weight: 700;
  letter-spacing: -0.28px;
  padding: 0;
  margin: 3px 0 0;
  float: right;
}

.header-nav-list li {
  float: left;
  padding: 0;
  margin: 0;
}

.header-nav-list li:not(:last-child) {
  margin-right: 36px;
}

.header-nav-list a {
  display: block;
  text-decoration: none;
  color: #0f0101;
}

.header-nav-list a:hover,
.header-nav-list a:focus {
  color: #1abc9c;
}



/* MAIN */

/* SLIDER */
.scroll {
  position: relative;
  width: 100%;
  height: 600px;
  margin-bottom: 95px;
}

.scroll-section-background-img {
  background-image: url(https://picua.org/images/2019/10/28/8ef68a5d471d33469e6f572e2be59d17.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
  position: absolute;
  z-index: 10;
}

.scroll:hover .scroll-section-background-color {
  background-color: #000002;
  width: 100%;
  height: 600px;
  position: absolute;
  opacity: 0.522;
  z-index: 20;
}

.scroll-section {
  width: 1110px;
  height: 600px;
  margin: 0 auto;
  position: relative;
  z-index: 30;
}

.scroll-section-slider {
  position: absolute;
  height: 600px;
  z-index: 50;
}

/* SCROLL_BUTTON */
.scroll-section button {
  display: inline-block;
  font-family: "Pe-icon-7-stroke";
  background-color: #1abc9c;
  color: #ffffff;
  width: 104px;
  height: 104px;
  font-size: 100px;
  position: absolute;
  top: 225px;
  cursor: pointer;
  border: 0;
  padding: 0;
  z-index: 100;
}

.scroll-section button:hover,
.scroll-section button:focus {
  opacity: 0.651;
}

.scroll-section-slider .pe-7s-angle-left {
  left: 0;
}

.scroll-section-slider .pe-7s-angle-right {
  right: 0px;
}

.scroll-section-slider .pe-7s-angle-left::before {
  content: "\e686";
}

.scroll-section-slider .pe-7s-angle-right::before {
  content: "\e684";
}

/* SLIDER-LIST */
.slider-list {
  display: inline-block;
}

.scroll:hover .slider-list .second {
  text-shadow: 1px 1px 2px black, 0 0 7px  #8d8b8a;
  color: #ffffff;  
}

.slider-list p {
  display: inline-block;
  text-align: center;
}

.slider-list {
  list-style: none;
  width: 100%;
  height: 600px;
  padding: 0;
  margin: 0;
}

.slider-list li {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slider-list .second p {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 185px;
}

.slider-list .second .item1 {
  font-size: 60px;
  font-weight: 900;
  line-height: 82px;
  letter-spacing: -1.2px;
  top: 200px;
}

.slider-list .second .item2 {
  font-size: 24px;
  font-weight: 300;
  line-height: 54px;
  letter-spacing: -0.48px;
  top: 280px;
}

.slider-list .affordable {
  color: #ff7200;
}

.scroll:hover .slider-list .affordable {
  color: #ffffff;
}

/* PRODACTS-LIST */
.prodacts {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 23px;
  letter-spacing: -0.36px;
  color: #ffffff;
  margin-bottom: 100px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.96px;
  color: #515151;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 92px;
}

h2::after {
  display: block;
  content: "";
  background-color: #1abc9c;
  width: 160px;
  height: 8px;
  margin: 32px auto 0;
}

.prodacts-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.prodacts-list li {
  float: left;
  width: 254px;
  margin: 0 30px 30px 0;
}

.prodacts-list li:nth-child(4n) {
  margin-right: 0;
}

.prodacts-list li:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.prodacts-list a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  position: relative;
}

.prodacts a:hover .price-name,
.prodacts a:focus .price-name {
  background-color: rgb(26, 188, 156);
}

.prodacts a:hover .price,
.prodacts a:focus .price {
  background-color: #7fd9c7;
}

.prodacts a:hover .overlay .background,
.prodacts a:focus .overlay .background {
  opacity: 0.549;
}

.prodacts a:hover .overlay .center,
.prodacts a:focus .overlay .center {
  display: inline-block;
}

.prodacts-list img {
  width: 254px;
}

.prodacts .price {
  background-color: #8c8c8c;
  width: 54px;
  height: 40px;
  padding: 10px 0 0 12px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.price::after {
  content: "\0024";
}

.prodacts .price-name {
  background-color: #323232;
  text-transform: uppercase;
  width: 200px;
  height: 40px;
  padding: 10px 0 0 12px;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* OVERLAY */
.overlay {
  font-size: 0;
  width: 254px;
  height: calc(100% - 40px);
  position: absolute;
}

.overlay .background {
  background-color: rgb(0, 0, 0);
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 10px;
  width: 254px;
  height: calc(100%);
  opacity: 0;
  position: absolute;
  z-index: 100;
}

.overlay .center {
  display: none;
  width: 166px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 120;
}

.overlay button {
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0);
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  padding: 0;
  cursor: pointer;
}

.overlay button:nth-child(-n+2) {
  margin-right: 8px;
}

.overlay button:last-child {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: -0.28px;
  width: 166px;
  text-indent: 20px;
  background-position-x: 12px;
}

.overlay button:hover {
  background-color: rgb(26, 188, 156);
}

.overlay button:last-child:hover {
  background-color: #323232;
}

.overlay .like {
  background-image: url(https://picua.org/images/2019/10/30/0d11f6f2530ed17bceffcd37b106116f.png);
}

.overlay .mix {
  background-image: url(https://picua.org/images/2019/10/30/20e2c2bb30d06c4672257dbf3fcd2019.png);
}

.overlay .time {
  background-image: url(https://picua.org/images/2019/10/30/25d05cfc03e135f02d2500570781d487.png);
}

.overlay .buy {
  background-image: url(https://picua.org/images/2019/10/30/86c54f48cbe55cf373e16252511a076b.png);
}



/* FUTTER */
.futter {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.32;
  background-color: #323232;
  color: #fefefe;
  text-align: center;
  width: auto;
  height: 88px;
  padding-top: 32px;
}

.futter p {
  display: inline-block;
}

.futter a {
  display: inline-block;
  text-decoration: none;
  color: #46bfa9;
}
